.container {
  /* padding-top: 64px; */
  padding-bottom: 64px;
}

.top_image_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100Vh;
}

.vision_wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding-top: 4rem;
}

.vision_title_text {
  font-size: 6rem;
}

.vision_sub_title_text {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #d8d8d8;
}

.vision_text_wrapper {
  line-height: 1.5;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.vision_text_top_wrapper {}

.vision_text_bottom_wrapper {
  padding-top: 1.2rem;
}

.portfolio_wrapper {
  padding-top: 10rem;
}

.portfolio_image_wrapper {}

.portfolio_text_wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 90%;
  margin: 3rem auto 0;
}

.portfolio_title_text {
  font-size: 6rem;
}

.portfolio_sub_text_wrapper {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.card_wrapper {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

.more_button_wrapper {
  text-align: center;
  margin-top: 3rem;
}

.team_wrapper {
  padding-top: 10rem;
}

.team_image_wrapper {
  width: 100%;
}

.team_title_wrapper {
  width: 90%;
  margin: 3rem auto 0;
  padding: 0 1rem;
}

.team_title_text {
  font-size: 6rem;
}

.team_sub_title_text {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.member_wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 3rem auto 0;
}

.company_wrapper {
  padding-top: 10rem;
}

.company_iamge_wrapper {
  width: 90%;
  margin: 3rem auto 0;
}

.company_text_wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 90%;
}

.company_text_wrapper {}

.company_title_text {
  font-size: 6rem;
}

.company_sub_title_text {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.company_detail_wrapper {
  width: 90%;
  margin: 3rem auto 0;
}

.company_detail_section {
  display: table;
  width: 90%;
  margin:0 auto;
  padding: 1rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
}

.company_detail_section:first-child {
  border-top: 1px solid #aaa;
}


.company_detail_section_column {
  font-weight: bold;
  width: 8rem;
  display: table-cell;
}

.company_detail_section dd {
  display: table-cell;
}

.contact_wrapper {
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.contact_image_wrapper {}

.contact_text_wrapper {
  width: 90%;
  margin: 3rem auto 0;
}

.contact_title_text {
  font-size: 6rem;
}

.contact_sub_title_text {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.contact_form_wrapper {
  margin: 3rem auto 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_form_company_name_wrapper {
  width: 30%;
  margin: auto;
  text-align: center;
}

.contact_form_company_logo {}

.contact_form_company_name_text {}

.contact_form_address_wrapper {
  width: 30%;
  margin: auto;
  text-align: left;
  font-weight: bold;
}

.contact_form_address_wrapper p {
  margin-bottom: 0.5rem;
}

.contact_form_email_wrapper {
  width: 30%;
  margin: auto;
  text-align: left;
}

.email_text {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  
  .vision_title_text,
  .portfolio_title_text,
  .team_title_text,
  .company_title_text,
  .contact_title_text {
    font-size: 4rem;
  }

  .portfolio-wrapper,
  .team-wrapper,
  .company-wrapper,
  .contact-wrapper{
    padding-top: 5rem;
  }
  

  .card_wrapper {
    width: 100%;
    margin-top: 6rem;
    display: block;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }

  .member_wrapper {
    display: block;
    justify-content: space-between;
    width: 90%;
    margin: 3rem auto 0;
  }

  .contact_form_wrapper {
    margin: 3rem auto 0;
    width: 90%;
    display: block;
    align-items: center;
    justify-content: space-between;
  }

  .contact_form_company_name_wrapper {
    width: 100%;
    margin:2rem auto 0;
    text-align: center;
    
  }
  .contact_form_address_wrapper {
    width: 80%;
    margin:2rem auto 0;
    text-align: left;
    font-weight: bold;
  }
  
  .contact_form_address_wrapper p {
    margin-bottom: 0.5rem;
  }
  
  .contact_form_email_wrapper {
    width: 80%;
    margin:2rem auto 0;
    text-align: left;
  }

  .email_text {
    /* font-size: 0.5rem; */
    font-weight: bold;
  }

 }
