.container {
  width: 25%;
  text-align: center;
}

.image_wrapper {
  width: 100%;
}

.image {
  border-radius: 50%;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
}

.text_wrapper {
  margin-top: 1.5rem;
}

.self_introduction_wrapper {
  margin-top: 1rem;
}

.sns_icon_wrapper {
  width: 50%;
  margin: 1rem auto 0;
  display: flex;
  justify-content: space-between;
}

.sns_icon_logo svg path {
  font-size: 1rem;
}
