.member-card-wrapper {
  width: 25%;
  text-align: center;
}

.member-card-image-wrapper {
  width: 100%;
}

.member-card-image {
  border-radius: 50%;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
}

.member-card-text-wrapper {
  margin-top: 1.5rem;
}

.self-introduction-wrapper {
  margin-top: 1rem;
}

.sns-icon-wrapper {
  width: 50%;
  margin: 1rem auto 0;
  display: flex;
  justify-content: space-between;
}

.sns-icon-logo svg path {
  font-size: 1rem;
}
